.language-links {
    padding: 24px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-links > a {
    margin-right: 64px;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #939393;
}

.language-links > a.active {
    color: #2e2e2e;
}

.language-links > a:last-child {
    margin-right: 0;
}

.subscribe-sec .cart-keeper {
    max-width: 864px;
    margin: 64px auto 32px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 32px;
}

.subscribe-sec .cart-keeper .cart-item {
    max-width: 192px;
}

.subscribe-sec .cart-keeper .cart-item .cart-image > img {
    width: 100%;
}

footer {
    margin-top: 64px;
}


body.dark-mode .subscribe-sec .language-links {
    border-color: #454545;
}

body.dark-mode .subscribe-sec .language-links > a.active {
    color: #FFF
}
