/*Upload setion*/
.cart-keeper > .container-margin{
    overflow: hidden;
    /*margin-right: -64px;*/
    /*margin-left: 48px;*/
    margin-left: 64px;
}
.upload-your-own > .container{
    display: flex;
    justify-content: space-between;
}

.upload-content{
    /*min-width: 256px;*/
    /*max-width: 256px;*/
    /*margin-right: 75px;*/
}
.upload-title, .upload-text{
    margin-bottom: 24px;
}
.upload-btn{
    padding: 8px 42px;
}

.upload-block{
    max-width: 736px;
    width: 100%;
    height: 232px;
    background: #F5F5F5;
}

/*End of Upload*/

/*Pages Main Sec*/

.page__main-sec1{
    margin-top: 0;
    padding: 24px 0 64px 0;
    position: relative;
}

.page__main-sec1::before {
    content: '';
    background: url(../../../assets/img/pages__main-bg.png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 9.27%;
    z-index: -1;
}

.page-top-slider .cart-image > img {
    height: 277px;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.page-top-slider .cart-item .cart-genre {
    color: #3E47EF;
}

.page-top-slider ~ .slick-arrows {
    position: absolute;
    top: 50%;
    right: 24px;
    z-index: 4;
}

.page__main-sec1 hr {
    margin: 24px 0 64px 0;
    background: #D8D8D8;
}

.slick-list{
    margin-right: -64px;
}
/*End of Pages Main Sec*/
