/*cart sections*/
section.cart-slider {
    height: auto;
    margin-top: 32px;
    /*margin: 32px -70px 0 -16px;*/
}

.cart-slider .cart-item .title:not(.page__main-sec .cart-item .title) {
    padding: 8px 0 0 0;
}

.cart-item {
    margin: 0 16px;
}
.cart-item:first-of-type{
    margin: 0 16px 0 0!important;
}

    /*.cart-image {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.cart-item .cart-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.cart-item__like-count {
    white-space: nowrap;
}

.cart-item .title {
    /*margin-top: 16px;*/
    padding: 8px 0 0 0;
    background: white;
    border-radius: 0 0 3px 3px;
}

.page__main-sec .cart-item .title, .cart-list .cart-item .title {
    padding: 16px;
}

.cart-item .title .cart-title {
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cart-item .title .cart-genre {
    color: #939393;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cart-item .ratings img,
.cart-item .ratings svg {
    margin-right: 5px;
    width: 14px;
    height: 16px;
}

.cart-item .ratings {
    color: black;
    display: flex;
}

.cart-item .rate,
.cart-item .likes {
    margin-right: 8px;
    height: 20px;
    display: flex;
    align-items: flex-start;
}

.cart-item .rate,
.cart-item .likes * {
    stroke: black;
}

.cart-navigation {
    width: 100%;
    display: flex;
    align-items: center;
}

.slick-arrows {
    display: flex;
}

.slick-arrows .arrow {
    position: absolute;
    top: 50%;
    right: 24px;
    z-index: 6
}

.slick-arrows>*:first-child {
    margin-right: 8px;
}

.slick-arrows .arrow {
    width: 36px;
    height: 36px
}

.cart-nav {
    display: flex;
    margin-left: 69px;
}

.cart-nav-link {
    margin-right: 24px;
}

.cart-nav-link h4 {
    font-weight: 500;
    color: #A3A3A3;
}

.cart-nav-link.active h4 {
    color: #FC9603;
    font-weight: 500;
}
.arrow-next{
    position: absolute;
    right: 0;
    top: 80px;
}
/*End of cart-sections*/
.hooper-list{
    overflow: initial;
    /*overflow: hidden;*/
}
